<div
  class="row set-img rounded-5 mt-4 shadow max-height"
  [ngStyle]="{ background: 'url(' + backgroundUrl + ') no-repeat 0 0 / cover' }"
  *ngIf="weatherData"
  data-aos="fade-up"
  data-aos-duration="3000"
>
  <div class="col-4 m-4 rounded-5 bg-white bg-opacity-50 min-width">
    <p id="location-name" class="display-6 fs-3 fw-semibold mt-4">
      {{ weatherData?.name }},{{ weatherData?.sys?.country }}
    </p>
    <p id="temperature-data" class="display-5 fw-semibold">
      {{ weatherData?.main?.temp }} °C
    </p>
  </div>
</div>
