<div
  class="main-container d-flex flex-row flex-wrap gap-lg-4 gap-sm-4 mt-5 justify-content-center"
>
  <div class="bg-body-tertiary p-3 rounded text-center shadow info-tile">
    <p class="fw-bold">Current Temperature</p>
    <p class="fs-2 fw-bold">12 °C</p>
    <p class="txt-style-1 mb-0"><span>+2 °C</span> in next 4 hours</p>
  </div>

  <div class="bg-body-tertiary p-3 rounded text-center shadow info-tile">
    <p class="fw-bold">Wind Speed</p>
    <p class="fs-2 fw-bold">18&nbsp;km/hr</p>
    <p class="txt-style-1 mb-0"><span>-0.5 km/hr</span> in next 4 hours</p>
  </div>

  <div class="bg-body-tertiary p-3 rounded text-center shadow info-tile">
    <p class="fw-bold">Humidity</p>
    <p class="fs-2 fw-bold">60 %</p>
    <p class="txt-style-1 mb-0"><span>+10 %</span> in next 4 hours</p>
  </div>

  <div class="bg-body-tertiary p-3 rounded text-center shadow info-tile">
    <p class="fw-bold">Pressure</p>
    <p class="fs-2 fw-bold">709 mm</p>
    <p class="txt-style-1 mb-0"><span class="">-20 mm</span> in next 4 hours</p>
  </div>
</div>
