.txt-style-1 {
  font-size: smaller;
}

.main-container .info-tile {
  flex: 22%;
  padding-bottom: 0%;
}

span {
  color: rgb(228, 118, 34);
}

@media (max-width: 1290px) {
  .main-container .info-tile {
    flex: 15%;
  }
}

@media (max-width: 992px) {
  .main-container .info-tile {
    flex: 35%;
  }
}

@media (max-width: 576px) {
  .main-container .info-tile {
    flex: 100%;
    margin-bottom: 1rem;
  }
}
