<div class="set-width">
  <app-header #header></app-header>
  <app-main-data-card
    [weatherData]="header.currentWeatherInfo"
  ></app-main-data-card>
  <app-sub-data-card
    [weatherData]="header.currentWeatherInfo"
  ></app-sub-data-card>
  <app-forecast-data
    [forecastData]="header.forecastWeatherInfo"
  ></app-forecast-data>
  <app-air-quality-data
    [weatherData]="header.currentWeatherInfo"
  ></app-air-quality-data>
  <app-weather-map [weatherData]="header.currentWeatherInfo"></app-weather-map>
  <app-footer></app-footer>
</div>
